@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh; 
    /* https://www.reddit.com/r/css/comments/133mrju/how_do_i_make_body_the_height_of_the_entire/ -> different way to set height to cover viewport */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero-container, .info-container, .quote-container, .call-to-action-container, footer {
    padding: 0 150px;
}

.hero-section {
    margin-bottom: 88px;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-text-container {
    flex: 1;
}

/* stop being a perfectionist, as long as there's symmetry/ doesn't look to weird its okay */
.wide-image {
    max-width: 500px;
    height: auto;
    border-radius: 10%;
    flex: 1;
}

.header{
    /* margin-top: 16px; */
    /* margin-bottom: 52px; */
    display: flex;
    justify-content: space-between;
    margin: 24px 0 72px 0;
    align-items: center;
}

.header-links {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}

button { 
    background-color: #3882F6;
    color: white;
    padding: 8px 24px;
    font-size: 14px;
    border-radius: 10%;
    border: none;
}

.signup-button {
    font-weight: 900;
}

/* NOTE: darker and secondary text classes could be adjusted in the HTML to use chain selectors but im too lazy so im using the "order of magnitude" rule where the last css rule takes over :p */
.secondary-text {
    font-size: 18px;
    color: #e5e7ebd7;
    margin: 8px 0;
}

.darker {
    color: gray;
}

.hero-container, footer {
    background-color: #1F2937;    
}

.logo, .hero-main-text {
    color: #F9FAF8;
 }

.logo {
    font-size: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

h1 {
    margin: 0;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 72px;
}

div.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 200px;
    max-height: 300px;
}

div.secondary-text.darker {
    /* display: inline-block; */
    text-align: center; 
    max-width: 175px;
    font-size: 16px;
}

.info-header-tex {
    margin: 42px 0;
}

/* we made the parent container a specified height/ width to not exceed and as a safety net we made the max of the image NOT exceed that parent container dimension

object fit helps us determine what height/ width to use but some of the image's content will be clipped if it doesn't scale properly (if no scale good -> sacrifice some of the image) */
.info-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    width: 175px;
    height: 175px;
    border-radius: 25%;
}

.quote-container {

}
